[user]
	name = Ryan Harris
	email = harrisryan1@gmail.com

[core]
    excludesfile = ~/.gitignore
    pager = delta

[delta]
    navigate = true
    side-by-side = false
    line-numbers = true

[pull]
	rebase = false

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

[difftool]
    prompt = false

[merge]
    tool = nvimdiff

[mergetool]
    prompt = false

[pager]
    diff = diffnav
    show = diffnav

[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"

[alias]
    dft = difftool --tool difftastic --no-prompt

[url "git@github.com:dbt-labs/"]
	insteadof = https://github.com/dbt-labs/
