format = """
$directory\
$git_branch\
$git_commit\
$git_state\
$git_status\
$package\
$nodejs\
$python\
$line_break\
$aws\
$kubernetes\
$line_break\
$character"""

[kubernetes]
format = '[$symbol[cluster:](bold 216)$context]($style) '
disabled = false
style = '216'

[python]
python_binary = "python3"
